body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url(cardtable.jpg);
    background-size: cover;
    color: white;
    font-weight: bold;
}

h1{
    color: goldenrod;
    font-size: 50px;
}
p{
    font-size: 25px;
}

#message-el {
    font-style: italic;
}
button{
    color: #016f32;
    width: 150px;
    background: goldenrod;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 5px;
}